/* ---------custom fonts */


.title-font{
    font-family: "Raleway", sans-serif;
}

.normal-font{
    font-family: "Inter", sans-serif;
}

#info-bg{
    background: url('../images/info-devider.png') no-repeat;
    background-color: #FFFFFF;
    background-position: 88% 50%;
}